<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Student.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="icon" href="Exam.jpeg" type="image/x-icon" />
</head>
<body>
    <div>
        <p align="right">For administrative access, <a href="Admin.html">click here</a></p>
    </div>
    <div class="heading">
        <table class="wrap">
            <fieldset>
                <h1><p align="center">Login to your Account</p></h1>
                <br>
                <center>
                    <input type="username" placeholder="Username"><br>
                    <input type="password" placeholder="Password" id="myInput"><br><br>
                    <input type="checkbox" onclick="myFunction()">Show Password
                    <br><br>
                </center>
                <script>
                    function myFunction() {
                        var x = document.getElementById("myInput");
                        if (x.type === "password") {
                            x.type = "text";
                        } else {
                            x.type = "password";
                        }
                    }
                    function onSignIn() {
                        location.href = "DashBoard.jsp"
                    }
                </script>
                <center>
                    <div class="liquid">
                        <button type="submit" value="submit">
                            <span>Login</span>
                        </button>
                    </div>
                    <br>
                    <a href="Student_Reg.html" style="color: aliceblue;">New here? Create an Account</a>
                    <br><br>
                </center>
            </fieldset>
        </table>
        <br><br>
    </div>
</body>
</html>